#container {
    border: 1px black solid;
    text-align: center;
    margin:auto;
    width: 50%;
    border-radius: 25%;
    background-color: gray;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

button {
    box-shadow: inset;
    box-sizing: border-box;
}

input {
    width: 50%;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 5%;
}

